$font-color: #fff;
$background-success: #84bd00;
$background-error: #b90a0abb;

%preorder-box {
    max-width: 51%;
    padding: 20px;
    font-size: 20px;
    color: $font-color;
}

/* exercise  1 */
span {
    margin-right: 10px;
}

.selector {
    text-align: center;
    margin: 15px 0 25px;
}

.tb {
    max-width: 100%;  
    padding: 0px 3%;
}

.tb-tr {
    border-bottom:  1px solid black;
    border-top: 1px solid black;
}

.sortSelect {
    display: inline-block; 
    width: 20%;
}

.row-blue {
    background: rgba(0, 119, 189, 0.15);
}
.row-green {
    background: rgba(218, 215, 183, 0.2);
}

th {
    text-align: center;
}

tr.row-green:hover, tr.row-blue:hover {
    background-color: rgba(255, 255, 254, 0.781);
    cursor: pointer;
}

.bottom {
    margin-top: 20px;
}

tr.tb-tr > th {
    padding: 5px 0;
}

.pt_test #first-element {
    background-color: black;
}

.preoreder-form { 
    input{
        max-width: 30%;
    }
    .required-indicator {
        display: none;
    }
    span.error {
        margin: 0 10px;
    }
}

/* exercise  2 */
.preorder-success {
    @extend %preorder-box;
    background: $background-success;
}

.preorder-errpr {
    @extend %preorder-box;
    background: $background-error;
}